*{
    box-sizing: border-box;
}
.bio{
    width: 943px;
    height: 264px;
    background: whitesmoke;
    margin: 35px;
    position: fixed;
}
.stut{
    background: white;
    height: 70px;
    margin: auto;
    margin-top: -35px;
    width: 960px;
}

#about{
    float: right;
    margin-top: -46px;
    margin-left: 477px;
    position: absolute;
}
#portfolio {
    float: right;
    margin-top: -46px;
    margin-left: 558px;
    position: absolute
}
#contact {
    float: right;
    margin-top: -46px;
    margin-left: 650px;
    position: absolute;
}
#header{
    font-family: Georgia;
    background-color: teal;
    width: 315px;
    height: 44px;
    text-align: center;
    margin-left: 64px;
    margin-top: 35px;
}
#p1{
    padding: 35px;
    width: 650px;
    position: fixed;
    margin-left: 193px;
    margin-top: 30px;
}
#about-me{
    position: absolute;
    margin-left: 226px;
    margin-top: 35px;
}